<div class="tab">
        <button class="tablinks" (click)="getinfo('India')">India</button> {{clickMessage}}
        <button class="tablinks" (click)="getinfo('Japan')" >Japan</button> {{clickMessage}}
        <button class="tablinks" (click)="getinfo('China')">China</button> {{clickMessage}}
        <button class="tablinks" (click)="getinfo('Usa')" >Usa</button> {{clickMessage}}
        <button class="tablinks" (click)="getinfo('England')">England</button> {{clickMessage}}
      </div>
      
      
      
      